:host {
  --content-width-desktop: 400px;
  --row-overflow-x: auto
}

.row {
  height: 100vh;
  display: flex;
}

.desktop.row {
  display: flex;

  .content {
    //&:hover {
    //  flex-basis: 400px !important;
    //}
    flex-shrink: 0;
    flex-grow: 0;
    transition: min-width 0.5s ease-in-out;
    min-width: var(--content-width-desktop);
    border-right: 1px solid var(--ion-color-light);
  }

  ion-router-outlet {
    transition: min-width 0.5s ease;
    width: 400px;
  }

}

.top-row {
  overflow-x: var(--row-overflow-x);
}
