<ng-content select=".umn-page-header"></ng-content>

<div class="desktop row ion-nowrap" *ngIf="!isMobile" [class.top-row]="isRootPage" [@fadeInOut]>
  <ion-col class=" content" [class.root]="isRootPage" [style.--content-width-desktop]="contentWidthDesktop + widthUnit">
    <div class="ion-page" [class.can-go-back]="true">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  </ion-col>
  <ion-col class="outlet">
    <ion-router-outlet #outlet [style.min-width]="routerOutletWidth+'px'"></ion-router-outlet>
  </ion-col>
</div>

<umn-page-mobile #mobilePage *ngIf="isMobile"
                 [isRootPage]="isRootPage"
                 [emptyComponentClassName]="emptyComponentClassName">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</umn-page-mobile>

<ng-content select=".umn-page-footer"></ng-content>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
