<ng-content select=".umn-page-header"></ng-content>

<umn-page-desktop #desktopPage *ngIf="!isMobile"
                  [(contentWidthDesktop)]="contentWidthDesktop"
                  [contentWidthDesktopExpanded]="contentWidthDesktopExpanded"
                  [widthUnit]="widthUnit"
                  [isRootPage]="isRootPage">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</umn-page-desktop>

<umn-page-mobile #mobilePage *ngIf="isMobile"
                 [isRootPage]="isRootPage"
                 [emptyComponentClassName]="emptyComponentClassName">
  <ng-container *ngTemplateOutlet="content"></ng-container>
</umn-page-mobile>

<ng-content select=".umn-page-footer"></ng-content>

<ng-template #content>
  <ng-content></ng-content>
</ng-template>
