<ion-back-button #backButton [routerLink]="parentPath" *ngIf="!ionBackVisible" [hidden]="!showOnPageReload"
            queryParamsHandling="merge"
                 [text]="label"
                 [icon]="icon"
            (click)="backClicked()">
</ion-back-button>
<ion-back-button *ngIf="ionBackVisible" class="ion-hide-md-up"
                 [text]="label"
                 [icon]="icon"
                 (click)="backClicked()"></ion-back-button>
<ion-back-button *ngIf="ionBackVisible" class="ion-hide-md-down"
                 (click)="backClicked()"></ion-back-button>
