.container-grid {
  display: flex;
  //width: 100vw;
  height: 100vh;

  .container-row {
    display: flex;
    width: 100%;

    .content-col {
      flex: 0 0 400px;
      @media (max-width: 767px) {
        flex: 0 0 100vw;
      }
      border-right: 1px solid var(--ion-color-light);
    }

    .router-col {
      flex: 0 0 400px;
      @media (max-width: 767px) {
        flex: 0 0 100vw;
      }
    }
  }

  .top-row {
    overflow-x: scroll;
  }
}

